.out-btn {
  background-color: var(--white);
  border: 2px solid var(--blue);
  font-weight: 600;
  width: fit-content;
  border-radius: 3rem;
  padding: 0.75rem 2rem;
  min-width: 9rem;
  text-align: center;
}
.out-btn p {
  font-weight: 600;
}
.out-btn:hover {
  box-shadow: 4px 4px 15px rgba(58, 128, 233, 0.5);
  background-color: var(--blue);
  color: var(--white);
}
